body {
    display: grid;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
}

.header, .main-content {
    grid-column: 2 / 3;
}

.search > span {
    display: inline-block;
    width: 20px;
    height: 20px;
}

span > img {
    height: 100%;
    width: 100%;
}